@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}
header{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 2rem;
}
.header-image{
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
}
.header-image img{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
}
.nav-bar{
    list-style: none;
    font-weight: lighter;
    display: flex;
    gap: 1.5rem;
}
.head{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 7vh;
    align-items: center;
}
.logo{
    width: 20vw;
}
.head h3{
    font-size: 2.1rem;
    color: whitesmoke;
    font-weight: 400;
    font-family: poppins ;
}
.search{
    display: flex;
    width: 55vw;
    align-items: center;
    border-radius: 10px;
    background: white;
    padding: 5px 4px 5px 4px;
}
.search .search-item{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.search .search-item p{
    color: gray;
    border-right: 1px solid gray ;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: poppins;
    padding-right: 100px;
}
.search .search-item input{
    outline: none;
    border: none;
    width: 200%;
    padding-left: 10px;
    font-size: 15px;
}
.search .search-item:first-child{
    color: palevioletred;
    width: 30%;
}
.search .search-item:last-child{
    color: gray;
    width: 70%;
}
/* SECTION  1*/
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    font-family: poppins;
    padding: 0;
}
.section1 .section1item{
    position: relative;
    width: 20rem;
    height: 12rem;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    border: 1px solid rgb(231, 227, 227);
}
.section1 .section1item img{
    width: 100%;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 10px;
    z-index: -1;
    object-fit: contain;
}
.section1 .section1item .items-details{
    position: absolute;
    bottom: 0px;
    align-items: center;
    border: 0 0 10px 10px;
    background: white;
    width: 100%;
    height: 30%;
    z-index: 2;
    padding: 0 0 10px 0;
}
.section1 .section1item .items-details{
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
}
.sub{
    font-size: medium;
    color: gray;
    opacity: 70%;
}
/*section 2  */
.bold{
    font-weight: 500;
}
.section2{
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.section2heading{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400px;
}
.section2 .section2container .section2items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section2 .section2container .section2items .section2item{
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(215, 215, 215);
    padding: 20px;
}
.section2item .itemhead{
    font-size: 1.2rem;
    color: rgb(37,37,37);
    margin: 0;
    margin-bottom: 5px;
}
.section2item .itemsubhead{
    font-weight: lighter;
    color: gray;
    margin: 0;
} 
/* section3 */
.section3{
    height: 620px;
    background-color: rgb(255,251,247);
}
.section3 .section3container{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3img{
    width: 40%;
}
.section3img img{
    width: 400px;
}
.section3content h1{
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.section3content p{
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.section3download img{
    width: 40%;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}